<div ng-init="notificacionesListar(loggedUser,10)">
    <div class="container">
        <div myheader></div>
        <div class="row">
            <div mymenu></div>
            <div class="col-md-offset-1 col-lg-offset-1 col-sm-4 col-md-4 col-lg-4">                
                <h3>Ayuda</h3>
                <h4>Inicio de sesión</h4>
                <iframe width="280" height="157" src="https://www.youtube.com/embed/Ke3U_LI7VzE" frameborder="0" allowfullscreen></iframe>
                <h4>Generar solicitud</h4>
                <iframe width="280" height="157" src="https://www.youtube.com/embed/OvORFheaOuE" frameborder="0" allowfullscreen></iframe>
                <h4>Notificaciones</h4>
                <iframe width="280" height="157" src="https://www.youtube.com/embed/SiaNUgG4S4k" frameborder="0" allowfullscreen></iframe>
                <h4>Oficio de comisión</h4>
                <iframe width="280" height="157" src="https://www.youtube.com/embed/yhhkiDmHX6s" frameborder="0" allowfullscreen></iframe>
                <h4>Historial de solicitudes</h4>
                <iframe width="280" height="157" src="https://www.youtube.com/embed/H1erXAEMEgE" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div myyfooter></div>
</div>
