<div ng-controller="solicitudCtrl" ng-init="obtenerValores()">    
    <div class="container">
    <div myheader></div>
    <div class="row">
        <div style="margin-left:40px; margin-right:20px; width:700px" mymenu></div>
        <form name="solicitud">
            <div class="col-lg-offset-1 col-sm-8 col-md-8 col-lg-8" name="myForm">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label>Nombre*</label>
                            <input type="text" name="Nombre" class="form-control" ng-model="solicitudDTO.Nombre_Solicitante" ng-init="solicitudDTO.Nombre_Solicitante = loggedUser.Nombre" required readonly>
                            <div ng-show="solicitud.Nombre.$invalid && solicitud.Nombre.$touched" role="alert">
                                <div class="alert alert-danger"> Este campo es obligatorio</div>
                            </div>
                        </div>
                    </div>
              
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="numero">N&uacute;mero de empleado*</label>
                            <input type="number" name="Numero" class="form-control" ng-model="solicitudDTO.Numero_Empleado" ng-init="solicitudDTO.Numero_Empleado = loggedUser.Id" required readonly>
                            <div ng-show="solicitud.Numero.$invalid && solicitud.Numero.$dirty" role="alert">
                                <div class="alert alert-danger">Este campo es obligatorio</div>
                            </div>
                        </div>
                    </div>
                </div>

              
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-6">
                            <label for="nombre-evento">Nombre del evento*</label>
                            <input type="text" name="eventoNombre" ng-model="solicitudDTO.Evento.Nombre" class="form-control" required>
                            <div ng-show="solicitud.eventoNombre.$invalid && solicitud.eventoNombre.$touched" role="alert">
                                <div class="alert alert-danger">Este campo es obligatorio</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-lg-6">
                            <label for="costo-evento">Lugar del evento*</label>
                            <input type="text" name="eventoLugar" ng-model="solicitudDTO.Evento.Lugar" class="form-control" required>
                            <div ng-show="solicitud.eventoLugar.$invalid && solicitud.eventoLugar.$touched" role="alert">
                                <div class="alert alert-danger">  Este campo es obligatorio</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-lg-6">
                            <label for="costo-evento">Costo del evento:*</label>
                            <input type="number" ng-model="solicitudDTO.Evento.Costo" class="form-control" min="0" placeholder="$">
                        </div>
                    </div>
                   

                    <div class="row">
                        <div class="col-md-6 col-md-6">
                            <div class="dropdown">
                                <label for="carrera">Carrera*</label>
                                <br>
                                <select name="carrera" ng-model="solicitudDTO.Carrera" ng-options="carrera.Nombre for carrera in carreras" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" placeholder="Elegir Carrera" required></select>
                                <div ng-show="solicitud.carrera.$invalid && solicitud.carrera.$touched" role="alert">
                                    <div class="alert alert-danger">  Este campo es obligatorio</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-6">
                            <div class="dropdown">
                                <label for="categoria">Categor&iacute;a*</label>
                                <br>
                                <select name="categoria" ng-model="solicitudDTO.Categoria" ng-options="categoria.Nombre for categoria in categorias" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" placeholder="Elegir Categoria" required></select>
                                <div ng-show="solicitud.categoria.$invalid && solicitud.categoria.$touched" role="alert">
                                    <div class="alert alert-danger"> Este campo es obligatorio</div>
                                </div>
                            </div>
                        </div>
                    </div>

               <div style="margin-bottom:50px;"></div>
                    <div class="row">
                        <div class="col-md-3 col-lg-3">
                            <div class="form-group">
                                <label for="fecha">Fecha de salida*</label>
                                <input type="date" name="fechaSalida" ng-model="solicitudDTO.Evento.Fecha_Hora_Salida" class="form-control" required  ng-min="hoy">
                                <div ng-show="solicitud.fechaSalida.$invalid && solicitud.fechaSalida.$touched" role="alert">
                                    <div ng-show="solicitud.horaSalida.$error.min" class="alert alert-danger">Fecha de salida no válida</div>
                                    <div ng-show="solicitud.horaSalida.$error.required" class="alert alert-danger">Este campo es obligatorio</div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-md-3 col-lg-3">
                            <div class="form-group">
                                <label for="fecha">Hora de salida*</label>
                                <input type="time" name="horaSalida" ng-model="solicitudDTO.Evento.Fecha_Hora_Salida" class="form-control" required ng-min="hoy">
                                <div ng-show="solicitud.horaSalida.$invalid && solicitud.horaSalida.$touched" role="alert">
                                    <div ng-show="solicitud.horaSalida.$error.min" class="alert alert-danger">Hora de salida no válida</div>
                                    <div ng-show="solicitud.horaSalida.$error.required" class="alert alert-danger">Este campo es obligatorio</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3">
                            <div class="form-group">
                                <label for="fecha">Fecha de llegada*</label>
                                <input type="date" name="fechaLlegada" ng-model="solicitudDTO.Evento.Fecha_Hora_Regreso" class="form-control" required>
                                <div ng-show="solicitud.fechaLlegada.$invalid && solicitud.fechaLlegada.$touched" role="alert">
                                    <div ng-show="solicitud.horaSalida.$error.required" class="alert alert-danger"> Este campo es obligatorio</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3">
                            <div class="form-group">
                                <label for="fecha">Hora de llegada*</label>
                                <input type="time" name="horaLlegada" ng-model="solicitudDTO.Evento.Fecha_Hora_Regreso" class="form-control" required>
                                <div ng-show="solicitud.horaLlegada.$invalid && solicitud.horaLlegada.$touched" role="alert">
                                    <div class="alert alert-danger"> Este campo es obligatorio</div>
                                </div>
                            </div>
                        </div>
                    </div>

</form>
        <div style="margin-bottom:50px;"></div>

        <label>Recursos a solicitar</label>
        <div>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="true" ng-model="solicitudDTO.Recurso_Solicitado.Hospedaje" ng-init="solicitudDTO.Recurso_Solicitado.Hospedaje = false">Hospedaje
                    </label>
                    <br>
                    <br>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="true" ng-model="solicitudDTO.Recurso_Solicitado.Viatico" ng-init="solicitudDTO.Recurso_Solicitado.Viatico = false">V&iacute;aticos
                    </label>
                    <br>
                    <br>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="true" ng-model="solicitudDTO.Recurso_Solicitado.Oficio_Comision" ng-init="solicitudDTO.Recurso_Solicitado.Oficio_Comision = false">Oficios de comisi&oacute;n
                    </label>
                    <br>
                    <br>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="true" ng-model="otroRecurso">Otro
                    </label>
                    <br>
                    <label for="correo">Descripción otra:</label>
                    <br>
                    <input type="text" class="form-control" ng-model="solicitudDTO.Recurso_Solicitado.Otro" ng-disabled="!otroRecurso" placeholder="Otros ...">
                    <br>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="transporte">Trasporte</label>
                        <input type="number" name="transporte" min="0"ng-model="solicitudDTO.Recurso_Solicitado.Transporte" class="form-control" placeholder="Cantidad de personas ...">
                        <div ng-show="solicitud.transporte.$invalid && solicitud.transporte.$dirty" role="alert">
                            <div class="alert alert-danger">Este campo es obligatorio</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <br>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="true" ng-model="solicitudDTO.Recurso_Solicitado.Combustible" ng-init="solicitudDTO.Recurso_Solicitado.Combustible = false">Combustible
                        </label>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <label>Actividades asociadas</label>
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <label class="checkbox-inline">
                    <input type="checkbox" value="true" ng-model="solicitudDTO.Actividad.CACEI" ng-init="solicitudDTO.Actividad.CACEI = false">CACEI/CIEES
                </label>
                <br>
                <br>
                <label class="checkbox-inline">
                    <input type="checkbox" value="true" ng-model="solicitudDTO.Actividad.Licenciatura" ng-init="solicitudDTO.Actividad.Licenciatura = false">Licenciatura
                </label>
                <br>
                <br>
                <label class="checkbox-inline">
                    <input type="checkbox" value="true" ng-model="solicitudDTO.Actividad.Personal" ng-init="solicitudDTO.Actividad.Personal = false">Personal
                </label>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="true" ng-model="solicitudDTO.Actividad.ISO" ng-init="solicitudDTO.Actividad.ISO = false">ISO 9001:2008
                    </label>
                    <br>
                    <br>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="true" ng-model="solicitudDTO.Actividad.Posgrado" ng-init="solicitudDTO.Actividad.Posgrado = false">Posgrado
                    </label>
                    <br>
                    <br>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="true" ng-model="otraActividad">Otro
                    </label>
                    <br>
                    <label for="correo">Descripci&oacute;n otra:</label>
                    <br>
                    <input class="form-control" ng-model="solicitudDTO.Actividad.Otro" ng-disabled="!otraActividad" placeholder="Otros ...">
                    <br>
                </div>
            
                <button type="submit" ng-keypress="" class="btn btn-primary pull-right" ng-disabled="!solicitud.$valid || !isCheckboxChecked() || !isDateValid()" ng-click="agregarSolicitud()">Enviar</button>
            </div>
        </div>
       
    </div>
    <div style="margin-left:150px;" myfooter></div>
    </div>
 </div>